@page "/"
@inject IUserService UserService
@inject IJokerService JokeService
@inject IStatService StatService
@inject NavigationManager NavigationManager
<style>
    #RandomJoke {
        margin-top: 27px;
    }
</style>
<PageTitle>جوک موک</PageTitle>

<br />

  <div class="row my-5">
        <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
            <RadzenCard class="m-3">
                <h3 class="h5">سازنده</h3>
                <div class="d-flex flex-row">
                    @if (@creator.ProfilePicUrl == null)
                    {
                    <img src="/Images/user-profile.png" Class="rounded-circle float-left mr-3" Style="width: 100px; height: 100px;"/>
                    }
                    else
                    {
                    <img src="@creator.ProfilePicUrl" Class="rounded-circle float-left mr-3" Style="width: 100px; height: 100px;"/>
                    }
                    @*<RadzenImage Path="@UserService.ProfilePicUrl" Class="rounded-circle float-left mr-3" Style="width: 100px; height: 100px;" />*@
                    <div>
                        <div>سازنده</div>
                        <b>@(creator.UserName)</b>
                        <div class="mt-3">زمان ساخت جوک</div>
                        <b>@joke.CreatedAt</b>
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard class="m-3">
                <h3 class="h5">جوک</h3>
                <div>
                    <div class="col-md-12">
                        <b>@(joke.Value)</b>
                    </div>
                </div>
            </RadzenCard>
            <button class="btn btn-dark" @onclick="(() => CommentsPage(joke.Id))">کامنت ها</button>
            <button class="btn btn-info" @onclick="(() => Like(joke.Id, 1))"><i class="oi oi-thumb-up"></i>@(jokeStatistics.LikeCount)</button>
            <button class="btn btn-danger" @onclick="(() => Like(joke.Id, 2))"><i class="oi oi-thumb-down"></i>@(jokeStatistics.DislikeCount)</button>
        </div>
        <button id="RandomJoke" class="btn btn-primary" @onclick="(() => RandomJoke())"><i class="oi oi-pencil"></i>جوک بعدی</button>
    </div>

<button class="btn btn-success" @onclick="CreateJokePage">جوک جدید بسازید</button>

@code {

    Joke joke = new Joke { JokeType = new JokeType() };

    JokeStatistics jokeStatistics = new JokeStatistics { Joke = new Joke() };

    User creator = new User { Role = new Role() };

    protected override async Task OnInitializedAsync()
    {
        await JokeService.GetJokes();

        if(JokeService.Jokes != null && JokeService.Jokes.Count() != 0)
        {
            joke = await JokeService.GetRandomJoke();   
            jokeStatistics = await StatService.GetStat(joke.Id);
            creator = await UserService.GetSingleUser(joke.CreatedBy);
        }
        else
        {
            Joke joke = new Joke { JokeType = new JokeType() };
            JokeStatistics jokeStatistics = new JokeStatistics { Joke = new Joke() };
        }
    }

    private async Task OnInputFileChanged(InputFileChangeEventArgs inputFileChangeEvent)
    {
        
        // Get the file
        var file = inputFileChangeEvent.File;

        // Read the file in a byte array
        var buffer = new byte[file.Size];
        await file.OpenReadStream(1512000).ReadAsync(buffer);

        // Convert byte array to base 64 string
        creator.ProfilePicUrl = $"data:image/png;base64,{Convert.ToBase64String(buffer)}";
        
    }

    async Task RandomJoke()
    {
        joke = await JokeService.GetRandomJoke();
    }

    async Task DeleteJoke(int id)
    {
        await JokeService.DeleteJoke(id);
        NavigationManager.NavigateTo("/", true);
    }

    async Task CommentsPage(int id)
    {
        NavigationManager.NavigateTo($"/comments/{id}");
    }

    async Task Like(int id, int no)
    {
        await StatService.LikeJoke(id, no); 
    }

    void CreateJokePage()
    {
       NavigationManager.NavigateTo("/createjoke");
    }
}
